
.mt-auto{
    margin: 2em;
    padding: 2em;
}
.talent-descricao {
    text-align: center;
    margin-top: 1.5em;

}

.talent {
    text-align: center;
}

.talent-comprar {
    text-align: center;
    margin-top: 1.5em;
}

.desempenho {
    margin: 1.2em;
    vertical-align: center;
    font-size: 1.2em;
}

.orcar {

    background: purple;
    width: 80%;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: 500;
    color: #fff;
    transition: 500ms all;
}

.orcar:hover {
    transform: scale(1.1);
    background: darkblue;
    border: none;
}

.orcar:active {
    background-color: magenta;
    transition: 02ms all;
    border: none;
}

li {
    list-style-type: none;
    font-size: 1.2em;
    line-height: 2;
}

.montar {
    margin: 0 0 1em 0 ;
    width: 100%;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.4;
    
}

.d-flex{
    align-items: center;
}

.check {
    width: 1.2em;
    height: 1.2em;
    margin-right: 1em;
}

.maquinas-2 {
    background-image: linear-gradient(to right, #f1f1f1, #fefefe, #f1f1f1, #fefefe, #f1f1f1);
}

.maquinas {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.maquina {
    display: flex;
    left: 0;
    width: 60%;
}

.descricao {
    margin-left: 2.3em;
    width: 80%;
    position: relative;
    font-size: 1em;
}

.div-maq .orcar {
    width: 100%;
    margin-top: 1em;
    font-size: 1em;
}

.preco {
    text-align: center;
    margin: 1em 0 0.5em 0 ;
    width: 100%;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.4;
}
